<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings >
    <add key="CURRENT_CONNECTION_STRING" value="WebCatalog_DEV"/>
    <add key="DateModified" value="2015-01-16"/>
    <add key="WHNum" value="9"/>
  </appSettings>
  <connectionStrings>
    <add name="WebCatalog_DEV" connectionString="Data Source=ora12dev;User Id=webcatalog;Password=inac" providerName="System.Data.OracleClient"/>
    <add name="WebCatalog_DEM" connectionString="Data Source=demoora10;User Id=webcatalog;Password=inac" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <system.web>
    <globalization fileEncoding="utf-8"
  requestEncoding="utf-8"
  responseEncoding="utf-8"/>
    <compilation debug="true" targetFramework="4.0"  />
    <sessionState timeout="1" />
  </system.web>

  <system.webServer>

  </system.webServer>

</configuration>
